@model StokTakip.Models.Entity.Kategori
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Ekle</h2>

@using (Html.BeginForm("Ekle", "Kategori", FormMethod.Post))

{
<div class="container row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div>
            <label>Kategori Adı</label>
            @Html.TextBoxFor(m=>m.Ad, new {@class="form-control"})
        </div>
        <div>
            <button class="btn btn-info">Ekle</button>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

}