
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>
<div>
    <h3 class="alert alert-info">
        @Session["Admin"] Hoşgeldiniz
    </h3>
    <a class="btn btn-warning" href="/Login/LogOut">Çıkış</a>
</div>
